html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
#logo {
  display:inline;
}
nav {
  background-color:#293247;
  padding: 1rem;
}
nav>ul {
  display:inline;
}
nav>ul>li {
  list-style-type: none;
  display:inline;
  padding:.5rem;
  font-weight: 500;
  font-size: 20px;
}
nav>ul>li>a {
  color:#fff;
  text-decoration:none;
}
nav>ul>li>a:visited {
  color:white;
  text-decoration:none;
}
#exit, #hamburger {
  display:none;
}
#headshot {
  width: 100px;
  height: 100px;
}
.wrapper {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
#container {
  margin: 30px auto;
}

#gallery-row {
  text-align: center;
}

#gallery-main {
  text-align: center;
  margin-bottom: 10px;
}

.contact-2 {
  margin: auto;
}

.colcon {
  margin: 100px auto;
  text-align: center;
}
.fbrand,
.fimages {
  padding-left: 10px;
}

.footer {
  color: #8a9da0;
  height: 50px;
}
#linkedin {
  width: 100px;
  height: 100px;
}
#instagram {
  width: 100px;
  height: 100px;
}
#github {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 280px){
  nav {
    background-color:#293247;
    height: 7%;
    transition: .5s;
  }
  nav>#hamburger{
    padding:5px;
  }
  nav>#hamburger>#patty {
    background-color:#fff;
    width: 40px;
    height: 5px;
    margin: 5px;
  }
  nav>ul {
    padding: 10%;
    display:none;
  }
  nav>ul>li {
    list-style-type: none;
    display:none;
  }
  nav>ul>li>a {
    color:#fff;
    text-decoration:none;
  }
  nav>ul>li>a:visited {
    color:white;
    text-decoration:none;
  }
  #button {
    color:#fff;
    font-size:1.25rem;
    float:right;
    margin-right: 10%;
    margin-top:10%;
    display:none;
  }
  #headshot {
    border: .25rem solid #293247;
    margin-top: 5%;
    margin-left: 5%;
    width: 45%;
  }
  #aboutme {
    margin-top: 5%;
    padding: 0% 5% 0% 5%;
  }
  #contactme {
    margin-left: 5%;
    color: #fff;
    background-color:#293247;
    border: none;
    width: 7rem;
    height: 2rem;
  }
  #footer {
    width: 100%;
    height: 7%;
    background-color:#293247;
    bottom:0px;
    position:absolute;
  }
  #footerPortfolio {
    width: 100%;
    height: 7%;
    background-color:#293247;
  }
  #linkedin,#instagram,#github {
width: 1.6rem;
height: 1.5rem;
  }
  #social {
    text-align:center;
    margin-top: 3%;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 320px){
  
}
@media screen and (max-width: 360px){

}
@media screen and (max-width: 375px){
  
}
@media screen and (max-width: 411px){
  
}
@media screen and (max-width: 414px) {
  .fbrand {
    display: none;
  }
  .jglogo {
    margin-top: 25px;
  }
  .recyclelogo {
    margin-top: -5px;
  }
  .smlogo {
    margin-top: -5px;
  }
}
@media screen and (max-width: 540px){
  
}
@media screen and (max-width: 768px){
  
}
@media screen and (max-width: 1024px){
  
}
