html, body {
    height: 100%;
    margin:0px;
}
.wrapper {
    min-height: 100%;
}
.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}
#container {
    margin-top: 30px;
}

#gallery-row {
    text-align: center;
}

#gallery-main {
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width:414px){
    .col-md-6 a img.img-fluid{
        display: block;
        margin: 0px auto !important;
    }
}