html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
nav {
  z-index: 100;
}
.phome {
  font-size: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.wrapper {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
#container {
  margin: 30px auto;
}

#gallery-row {
  text-align: center;
}

#gallery-main {
  text-align: center;
  margin-bottom: 10px;
}

#mainc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  float: left;
  text-align: center;
  margin: 10px;
  width: 320px;
  height: auto;
}

.subhero {
  width: 400px;
  float: right;
  margin-right: 110px;
  margin-top: 80px;
}

#headshot {
  width: 100%;
  height: auto;
}

.contact-2 {
  margin: auto;
}

.colcon {
  margin: 100px auto;
  text-align: center;
}

.fbrand,
.fimages {
  padding-left: 10px;
}

.footerimg {
  padding-right: 5px;
}

.footer {
  color: #8a9da0;
  height: 50px;
}

.footerFixed {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: #8a9da0;
        height: 50px;
}

.aboutme {
  margin-bottom: 50px;
}

.contentwrapper {
  width: 900px;
  margin: auto;
}

@media screen and (max-width: 414px) {
  .col-md-6 a img.img-fluid {
    display: block;
    margin: 0px auto !important;
  }
  .fbrand {
    display: none;
  }
  .jglogo {
    margin-top: 25px;
  }
  .recyclelogo {
    margin-top: -5px;
  }
  .smlogo {
    margin-top: -5px;
  }
  .cfoot {
    position: fixed;
    position: absolute;
    bottom: 0px;
  }
}
